/* Make the letter b column class elements (balls or
   squares) have a white border and a pale red
   color. */
   .b {
    fill: #ffa0b0;
    stroke-width: 5;
    stroke: white;
  }
  
  /* Make the letter i column class elements (balls or
     squares) have a white border and a pale purple
     color. */
  .i {
    fill: #ffb0ff;
    stroke-width: 5;
    stroke: white;
  }
  
  /* Make the letter n column class elements (balls or
     squares) have a white border and a pale blue
     color. */
  .n {
    fill: #a0b0ff;
    stroke-width: 5;
    stroke: white;
  }
  
  /* Make the letter g column class elements (balls or
     squares) have a white border and a pale aqua
     color. */
  .g {
    fill: #b0ffff;
    stroke-width: 5;
    stroke: white;
  }
  
  
  .o {
    fill: #b0ffa0;
    stroke-width: 5;
    stroke: white;
  }
  
  
  .h {
    fill: white;
    stroke-width: 5;
    stroke: white;
  }
  
  
  .t {
    fill: black;
    font-size: 30px;
  }
  
 
  .e {

    fill: red;
    font-size: 30px;

    
  }
  
 
  .v {
    fill: white;
    font-size: 30px;

  }
  
  
  #left {
    text-align: left;
    width: 100px;
  }
  
 
  #center {
    text-align: center;
    width: 100px;
  }
  
  
  #right {
    text-align: right;
    width: 100px;
  }
  
   #dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #DBB1BC;
    width: 100%;
    z-index: 10;
  }
  #dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
  }
  #dialogbox > div{ background:#FFF; margin:8px; }
  #dialogbox > div > #dialogboxhead{ background: #8F95D3; font-size:19px; padding:10px; color:#CCC; border: 2px solid; border-color: #000; }
  #dialogbox > div > #dialogboxbody{ background:#805bf1; padding:20px; color:#FFF; border: 2px solid; border-color: #000;}
  #dialogbox > div > #dialogboxfoot{ background: #8F95D3; padding:10px; text-align:right; border: 2px solid; border-color: #000;}
  
  .backgr {


    background-image: url('../img/bingobg.png');
    background-repeat: no-repeat;
    background-size: cover; }

.mar40 {

    margin-top: 40%;
}

.mar30 {

    margin-top: 35%;
}

.backgr1 {


    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover; }


.vertical-center {
  min-height: 100%;  
  min-height: 100vh; 

  display: flex;
  align-items: center;
}