
   .b {
    fill:#b0ffa0;
    background-color: #b0ffa0;
    stroke-width: 5;
    stroke: white;
    border: none;
    width: 100%;
    font-size: x-large;
    
  }
    
  

  .i {
    fill: #B0FFFF;
    background-color: #B0FFFF;
    stroke-width: 5;
    stroke: white;
    border: none;
    width: 100%;
    font-size: x-large;
    }  

  .n {
    fill: #a0b0ff;
    background-color: #a0b0ff;
    stroke-width: 5;
    stroke: white;
    border: none;
    width: 100%;
    font-size: x-large;

    }  

  .g {
    fill: #FFA0B0;
    background-color: #FFA0B0;
    stroke-width: 5;
    stroke: white;
    border: none;
    width: 100%;
    font-size: x-large;

    }  

  .o {
    fill: #D3C4E3;
    background-color: #D3C4E3;
    stroke-width: 5;
    stroke: white;
    border: none;
    width: 100%;
    font-size: x-large;

  }  

  .h {
    fill: white;
    stroke-width: 5;
    stroke: white;
    
  }
  
 
  .t {
    fill: black;
    font-size: 30px;
    
  }
  

  .e {

    color: white;
    font-size: 30px;
    
  }
  
  
  .w {
    fill:red;
    background-color: red;
    font-size: 30px;
    border-radius: 50%;
    color: red;
    background-position:center;
    position: relative;
    display: block;
   
   
  }
  .v{

    fill: white;
    font-size: 30px;

  }

#left {
    text-align: left;
    width: 100px;
}


#center {
    text-align: center;
    width: 100px;
}


#right {
    text-align: right;
    width: 100px;
}

#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #DBB1BC;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #8F95D3; font-size:19px; padding:10px; color:#CCC; border: 2px solid; border-color: #000; }
#dialogbox > div > #dialogboxbody{ background:#805bf1; padding:20px; color:#FFF; border: 2px solid; border-color: #000;}
#dialogbox > div > #dialogboxfoot{ background: #8F95D3; padding: 5%;  border: 2px solid; border-color: #000;}


#dialogoverlayPaypal{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(207, 206, 206);
    width: 100%;
    z-index: 10;
}
#dialogboxPaypal{
    display: none;
    position: fixed;
    background: rgb(5, 5, 5);
    border-radius:7px; 
    width:300px;
    z-index: 10;
}
#dialogboxPaypal > div{ background:#FFF; margin:5px;}
#dialogboxPaypal > div > #dialogboxheadPaypal{ background: rgb(79, 125, 226); font-size:19px; padding:2%; padding-bottom: 5%; color:#CCC; height: 50px; }
#dialogboxPaypal > div > #dialogboxbodyPaypal{ background:rgb(65, 64, 64); font-size:20px; padding:20px; padding-top: 1%; padding-bottom: 1%; color:#FFF; }
#dialogboxPaypal > div > #dialogboxfootPaypal{ background: rgb(79, 125, 226); padding:10px; text-align:right; }



.backgr {


    background-image: url('../img/bingobg.png');
    background-repeat: no-repeat;
    background-size: cover; }

.mar40 {

    margin-top: 40%;
}

.mar30 {

    margin-top: 35%;
}

.backgr1 {


    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover; }


.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 

    display: flex;
    align-items: center;
}
.gradient {

background: rgb(143,149,211);
background: linear-gradient(30deg, rgba(143,149,211,1) 0%, rgba(255,160,176,1) 100%);
background-size: cover;
}

.gradient2 {

  background-image: url('../img/bingoBg2.jpg');
  background-repeat: no-repeat;
  background-size: cover; }

.gradient1 {

  background-image: url('../img/bingoBg1.jpg');
  background-repeat: no-repeat;
  background-size: cover; }


  
.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 40px 40px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 10px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    stroke: aliceblue;
}


.btn-3db {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 10px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 10px;
  text-align: center;
  width: 120px;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  stroke: aliceblue;
}
.btn-3d.red:hover    {background-color: #b92205;}

.btn-3db.purple:hover {background-color: #a0b0ff;}


.btn-3d:active {
    top: 9px;
}


.btn-3d.red {
    background-color: #b92205;
    box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}
 .btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
} 

.btn-3db.purple {
	background-color: #a0b0ff;
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 rgba(189, 142, 183, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
        
}

.btn-3db.purple:active {
	box-shadow: 0 0 0 1px #cb99c5 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}


.opa {
  background: rgba(255,255,255, 0.9);
}


.opa7 {
  background: rgba(255,255,255, 0.7);
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  /* background-color: #f8f8f8; */
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .95em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
